/* Hornhautbank Custom Stylesheet */

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    position: relative;
    height: auto;
}

.clearfix {
    display: block;
    zoom: 1;
}

    .clearfix:after {
     content: " ";
     display: block;
     font-size: 0;
     height: 0;
     clear: both;
     visibility: hidden;
    }

.alignright {
	float: right;
	margin: 10px 0 10px 10px;
}

.alignleft {
	float: left;
	margin: 10px 10px 10px 0;
}

.font-size-3 #page {
    -webkit-transform: scale(1.2); /* WebKit */
    -webkit-transform-origin: 0 0;

    -moz-transform: scale(1.2); /* Mozilla */
    -moz-transform-origin: 0 0;

    -o-transform: scale(1.2); /* Opera */
    -o-transform-origin: 0 0;

    -ms-transform: scale(1.2); /* Internet Explorer */
    -ms-transform-origin: 0 0;

    transform: scale(1.2); /* CSS3 */
    transform-origin: 0 0;
}

.font-size-4 #page {
    -webkit-transform: scale(1.4); /* WebKit */
    -webkit-transform-origin: 0 0;

    -moz-transform: scale(1.4); /* Mozilla */
    -moz-transform-origin: 0 0;

    -o-transform: scale(1.4); /* Opera */
    -o-transform-origin: 0 0;

    -ms-transform: scale(1.4); /* Internet Explorer */
    -ms-transform-origin: 0 0;

    transform: scale(1.4); /* CSS3 */
    transform-origin: 0 0;
}

.jumbotron .container {
    max-width: none;
}

.jumbotron {
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    color: #009EE3;
    text-transform: uppercase;
}

h2 {
    font-size: 22px;
    color: #009EE3;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px 15px 20px 0;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

p {
    font-size: 20px;
    margin: 5px 0 20px 0;
    color: #666;
}

a {
    color: #009EE3;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

img.img-left {
    float: left;
    margin: 5px 15px 15px 0;
}

img.img-right {
    float: left;
    margin: 5px 0 15px 15px;
}

.btn-black,
.btn-blue {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.btn-black {
    background-color: #000000;
    border: 4px solid #FFF;
}

.btn-blue {
    background-color: #009EE3;
    border: 0;
}

    .btn-black:hover,
    .btn-black:focus,
    .btn-black:active,
    .btn-black.active,
    .btn-blue:hover,
    .btn-blue:focus,
    .btn-blue:active,
    .btn-blue.active {
        color: #333;
        background-color: #9CCFF3;
        border-color: #9CCFF3;
    }

.btn i {
    margin: 0 5px;
}

.logobar {
    padding-bottom: 20px;
}

    .logobar .logo {
        margin-top: 20px;
    }

        .logobar .logo a {
            display: inline-block;
        }

    .logobar .tools {
        padding-top: 20px;
    }

        .logobar .tools ul {
            float: right;
            list-style: none;
            font-size: 16px;
        }

            .logobar .tools ul li {
                float: left;
                margin: 0 5px;
            }

                .tools a {
                    color: #DDD;
                }

                    .tools a:hover {
                        text-decoration: none;
                        color: #9CCFF3;
                    }

                a.font-adjust-sm {
                    display: block;
                    margin-top: 6px;
                    font-size: 14px;
                }

                a.font-adjust-md {
                    display: block;
                    margin-top: 2px;
                    font-size: 18px;
                }

                a.font-adjust-lg {
                    display: block;
                    margin-top: -2px;
                    font-size: 22px;
                }

    .meta-navigation {
        min-height: 110px;
        padding-left: 0;
        padding-right: 0;
    }

        .meta-navigation ul {
            float: right;
            font-size: 16px;
            list-style: none;
            margin: 0;
            padding: 0;
        }

            .meta-navigation ul li {+
                width: auto;
                float: left;
                text-align: center;
                margin: 0;
                padding: 16px 8px 0 8px;
                border-top: 4px solid #82D0F5;
            }

                .meta-navigation ul li a {
                    color: #666;
                }

                .meta-navigation ul li.current_page_item,
                .meta-navigation ul li:hover,
                .meta-navigation ul li.current_page_item:hover {
                    border-top: 4px solid #009EE3;
                }

                .meta-navigation ul li.current_page_item a,
                .meta-navigation ul li:hover a,
                .meta-navigation ul li.current_page_item:hover a {
                    text-decoration: none;
                    color: #009EE3;
                }

        .meta-navigation .button-login {
            position: absolute;
            bottom: 0;
            right: 0;
            text-align: center;
        }

            .button-login .btn,
            .button-login .btn i {
                color: #BBB;
            }

            .button-login .btn:hover,
            .button-login .btn:hover i {
                color: #000;
            }

.jumbotron.navline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #07C1EF;
}

    ul.navigation-primary {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }

        ul.navigation-primary > li {
            position: relative;
            width: 33%;
            float: left;
            min-height: 85px;
            margin: 0;
            text-align: center;
            background-color: #82D0F5;
            padding-right: 15px;
            padding-left: 15px;
        }

            ul.navigation-primary > li.current_page_item,
            ul.navigation-primary > li.current_page_ancestor,
            ul.navigation-primary > li:hover {
                background-color: #009EE3;
                z-index: 50;
            }

            ul.navigation-primary > li a {
                position: relative;
                display: block;
                padding: 25px 0;

                font-size: 16px;
                font-weight: bold;
                color: #FFF;
                text-transform: uppercase;
                z-index: 99;
            }

                ul.navigation-primary > li a:hover {
                    text-decoration: none;
                }

        .dd-nav {
            min-width: 100%;
            position: absolute;
            top: 85px;
            left: 0;
            background-color: #009EE3;
            z-index: 10;
            display: none;
        }

            ul.navigation-primary > li:hover .dd-nav {
                display: block;
            }

            .dd-nav hr {
                margin: 0 20px;
            }

            .dd-nav ul {
                list-style: none;
                margin: 0;
                padding: 15px 0;
            }

                .dd-nav ul li {
                    font-size: 18px;
                    color: #FFF;
                    line-height: 120%;
                    margin: 5px 0;
                    padding: 0 15px 0 15px;
                    text-align: left;
                }

                    .dd-nav ul li.current_page_item,
                    .dd-nav ul li:hover {
                        font-weight: normal;
                        border-left: 4px solid #FFF;
                        padding-left: 11px;
                    }

                        .dd-nav ul li a {
                            display: block;
                            padding: 10px 0;
                        }

                            .dd-nav ul li a:hover {
                                text-decoration: none;
                            }

    .navigation .row {
        background-color: #82D0F5;
    }

    .navigation .search {
        min-height: 85px;
        padding: 24px 0;
        background-color: #82D0F5;
        line-height: normal;
    }

        .navigation .search .input-group {
            width: 90%;
            margin: 0 auto;
        }

        .navigation .search ul {
            text-align: center;
            float: left;
            width: 100%;
            margin: 0;
            padding: 10px 0;
            list-style: none;
            border-top: 2px solid #009EE3;
        }

            .navigation .search ul li {
                display: inline;
                margin: 0;
                padding: 0;
            }

                .navigation .search ul li a {
                    font-size: 16px;
                    color: #FFF;
                    text-decoration: none;
                    padding: 0 5px;
                }

                    .navigation .search ul li.current_page_item a,
                    .navigation .search ul li:hover a {
                        font-weight: bold;
                    }

.jumbotron.home {
    background-color: #000;
    padding: 0;
    margin-bottom: 0;
}

    .jumbotron.home .container {
        background: url("../images/lead-eye.png") top left no-repeat;
        background-size: contain;
        min-height: 400px;
    }

        .jumbotron.home h1 {
            font-size: 50px;
            color: #FFF;
            text-transform: uppercase;
            font-weight: bold;
            line-height: 120%;
            margin: 75px 0 20px 0;
        }

            .jumbotron.home h1 span {
                font-weight: normal;
            }

.secondary-navigation {
    position: relative;
    margin-top: 40px;
    min-height: 0;
    padding-left: 0;
    padding-right: 0;

    z-index: 2;
}

    .secondary-navigation .affix-top {
        position: relative;
        bottom: auto;
        top: auto;
    }

    .secondary-navigation .affix {
        position: fixed;
        top: 60px;
        bottom: auto;
        width: 292px;
    }

        .secondary-navigation .affix-after {
            margin-top: 20px;
        }

            .secondary-navigation .affix-after p {
                font-size: 14px;
            }

    .secondary-navigation ul {
        list-style: none;
        margin: 0;
        padding: 15px 15px 15px 0;
        background-color: #EAF6FD;
    }

        .secondary-navigation ul li {
            font-size: 18px;
            color: #555;
            line-height: 140%;
            margin: 5px 0;
            padding: 5px 0 5px 20px;
            text-align: left;
        }

            .secondary-navigation ul li a {
                display: block;
                color: #555;
            }

            .secondary-navigation ul li.current_page_item,
            .secondary-navigation ul li.current_page_ancestor,
            .secondary-navigation ul li:hover,
            .secondary-navigation ul li.current_page_item:hover,
            .secondary-navigation ul li.current_page_ancestor:hover {
                color: #000;
                font-weight: bold;
                border-left: 4px solid #009EE3;
                padding-left: 16px;
                cursor: pointer;
            }

                .secondary-navigation ul li.current_page_item > a {
                    color: #000;
                }

                .secondary-navigation ul li a:hover {
                    color: #000;
                    text-decoration: none;
                }

            .secondary-navigation ul li.current_page_ancestor,
            .secondary-navigation ul li.current_page_item {
                margin: 15px 0;
            }

            .secondary-navigation ul li:hover {
                font-weight: normal;
            }

            .secondary-navigation ul li ul.submenu {
                display: none;
                margin: 20px 0 0 0;
                padding: 0 0 5px 20px;
            }

                .secondary-navigation ul li.current_page_ancestor ul.submenu,
                .secondary-navigation ul li.current_page_item ul.submenu {
                    display: block;
                }

                .secondary-navigation ul li ul.submenu li {
                    font-size: 16px;
                    font-weight: normal;
                    color: #333;
                    margin: 15px 0 0 0;
                    padding: 0;
                }

                    .secondary-navigation ul li ul.submenu li:hover,
                    .secondary-navigation ul li ul.submenu li.current_page_item
                    {
                        font-weight: normal;
                        border: 0;
                        color: #009EE3;
                        padding-left: 0;
                        cursor: pointer;
                    }

                        .secondary-navigation ul.submenu li.current_page_item a {
                            color: #009EE3;
                        }

                    .secondary-navigation ul li ul.submenu li.current_page_item,
                    .secondary-navigation ul li ul.submenu li.current_page_item:hover {
                        font-weight: bold;
                    }

.contentbar {
    position: relative;
    text-align: left;
    background-color: #EAF6FD;
    margin-bottom: 100px;
    padding-bottom: 30px;
}

    .contentbar h4 {
        font-size: 18px;
        color: #009EE3;
        font-weight: bold;
        text-transform: uppercase;
        margin: 50px 15px 20px 15px;
    }

        .contentbar .icon-plus,
        .contentbar .icon-info {
            margin-left: -27px;
            padding-left: 40px;
            line-height: 140%;
            min-height: 30px;
            padding-top: 2px;
        }

            .contentbar .icon-plus {
                background: url(../images/icon-plus.png) no-repeat left center transparent;
            }

            .contentbar .icon-info {
                background: url(../images/icon-info.png) no-repeat left center transparent;
            }

    .contentbar p {
        font-size: 16px;
        margin: 30px 15px;
    }

    .contentbar ul {
        font-size: 16px;
        color: #555;
        margin: 0 15px;
        padding: 0;
    }

        .contentbar ul li {
            line-height: 140%;
            margin: 0 0 15px 0;
            padding: 0;
        }

    .contentbar-after {
        position: absolute;
        bottom: -110px;
        left: 0;
        padding: 0;
        width: 100%;
    }

        .contentbar-after p {
            font-size: 14px;
        }

            .contentbar-after p span {
                display: inline-block;
                margin-top: 20px;
            }

.contentstage.start p {
    font-size: 20px;
}

.contentstage {
    margin: 50px 20px;
}

    .contentstage p {
        font-size: 16px;
        line-height: 160%;
    }

    .contentstage ul {
        font-size: 16px;
        color: #555;
        margin: 25px 15px;
        padding: 0;
    }

        .contentstage ul li {
            line-height: 140%;
            margin: 0 0 10px 0;
            padding: 0;
        }

    .contentstage hr {
        margin-top: 30px;
        margin-bottom: 30px;
		clear: both;
    }

    body > iframe {
        display: none;
    }

    .googlemap iframe {
        max-width: 100%;
        min-height: 300px;
    }

.contentstage.search {

}

    .contentstage.search h1.search-title span {
        display: inline-block;

        color: #333;
        padding: 5px 10px;
    }

    .contentstage.search h2 {
        margin-bottom: 0;
    }

    .contentstage.search .search-form {
        margin-top: 20px;
    }

    .search-url {
        color: #CCC;
        font-size: 12px;
        margin-bottom: 10px;
    }

.supported {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

    .supported a {
        display: inline-block;
        margin: 5px 15px;
    }

.jumbotron.footer {
    margin-top: 20px;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #000;
}

    .footer .search-mobile {
        padding-top: 20px;
        padding-bottom: 20px;
    }

        .footer .search-mobile p {
            margin-bottom: 5px;
        }

    .footer p {
        font-size: 16px;
        color: #FFF;
    }

        .footer p > a {
            text-decoration: none;
            color: #FFF;
        }

    .footer ul {
        list-style: none;
        font-size: 16px;
        color: #FFF;
        margin: 0 0 0 25px;
        padding: 0;
    }

        .footer ul li {
            line-height: 160%;
            margin: 0;
            padding: 0;
        }

            .footer ul li a {
                color: #9CCFF3;
                text-decoration: none;
            }

                .footer ul li a:hover {
                    text-decoration: underline;
                }

.jumbotron.copyright {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #82D0F5;
}

    .jumbotron.copyright p {
        font-size: 16px;
        color: #FFFFFF;
        margin: 10px 0;
        padding: 0;
        line-height: 160%;
    }

        .jumbotron.copyright p a {
            color: #FFF;
        }


/* simple */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;

    -ms-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

/* START: Accommodating for IE */
.flip-container.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.flip-container.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

/* END: Accommodating for IE */

.flip-container, .front, .back {
    width: 515px;
    height: 332px;
    max-width: 100%;
}

.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 0.6s;

    -moz-transition: 0.6s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;

    position: absolute;
    top: 0;
    left: 0;
}

.front {
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.wp-font-size {
    display: none;
}

.mod-csstransforms .wp-font-size {
    display: block;
}

.slider {
    position: relative;
    width: 263px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto;
}

.arrow-left,
.arrow-right {
    cursor: pointer;
    width: 34px;
    height: 100%;
    position: absolute;
    z-index: 50;
    opacity: 0.7;
    display: block;
}

.arrow-left {
    left: 0;
    bottom: 0;
    background: url("../images/slider-arrow-left.png") center left no-repeat transparent;
}

.arrow-right {
    right: 0;
    bottom: 0;
    background: url("../images/slider-arrow-right.png") center right no-repeat transparent;
}

.slider-item {
    width: 263px;
    float: left;

    min-height: 200px;
    position: relative;
}

.slider-item img {
    width: 263px;
    position: absolute;
    z-index: 20;
}

#slider-items {
    overflow: hidden;
}

/* FORMULAR */

.ninja-forms-error-msg div {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #d9534f;
    background-color: #fdf7f7;
}

.ninja-forms-success-msg div {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #47a447;
    background-color: #edfdea;
}

.ninja-forms-field-error p {
    font-size: 14px;
    color: #d9534f;
}

.ninja-forms-field-error p:last-child {
    margin-bottom: 5px;
}

/* Mobile */
@media (max-width: 767px) {

    .jumbotron.home .container {
        background-position: center center;
    }

        .jumbotron.home h1 {
            font-size: 38px;
        }

    ul.navigation-primary > li {
        width: 100%;
        min-height: 50px;
    }

        ul.navigation-primary > li:hover .dd-nav {
            display: none;
        }

        ul.navigation-primary > li a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 200%;
        }

    .col-md-3.search {
        min-height: 0;
        padding: 0;
    }

    .secondary-navigation .affix {
        top: auto;
        position: relative;
        width: auto;
    }

        .secondary-navigation .affix-after {
            display: none;
        }

    .logo {
        text-align: center;
    }

    .contentbar .icon-plus,
    .contentbar .icon-info {
        margin-left: 0;
    }

    .contentbar {
        padding-top: 1px;
    }

        .contentbar-after {
            left: 50%;
            width: 260px;
            margin-left: -130px;
        }

    .footer ul {
        clear: both;
        margin-left: 0;
    }

}

/* Screen-Size Tablet */
@media (min-width: 768px) and (max-width: 979px) {

    .contentbar {
        clear: both;
        padding-top: 1px;
    }

        .contentbar-after {
            left: 50%;
            width: 260px;
            margin-left: -130px;
        }

    .tools {
        display: none;
    }

    ul.navigation-primary > li {
        width: 33.333333333%;
    }

        ul.navigation-primary > li a {
            line-height: 160%;
        }

    .secondary-navigation .affix {
        top: auto;
        position: relative;
        width: auto;
    }
}

/* Screen-Size Desktop Medium */
@media (min-width: 980px) and (max-width: 1199px) {
    img.img-left {
        margin-right: 10px;
        margin-bottom: 10px;
    }

    ul.navigation-primary > li {
        min-height: 100px;
    }

    ul.navigation-primary > li a {
        line-height: 160%;
    }

    .secondary-navigation .affix {
        width: 243px;
    }

    .slider {
        width: 213px;
        height: 160px;
    }
    .slider-item {
        width: 213px;
        min-height: 160px;
    }
    .slider-item img {
        width: 213px;
        height: auto;
    }
}

/* EONM Edit 180509 - MB */
.cc-link {
  padding: 0;
}

#fancybox-close {
  /* Bugfix: Weird 1px border on the right appeared */
  margin-right: -1px;
}


/* EONM Edit 180518 - MB  */
/*
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 * [1] IE9
 * [2] IE10+
 */

img[src*=".svg"] {
  width: 500px\9;
}

@media screen and (min-width:0\0) {
  img[src*=".svg"] {
    width: 500px;
  }
}
