.icon-plus {
    margin-left: -27px;
    padding-left: 40px;
    line-height: 30px;
    background: url(images/icon-plus.png) no-repeat left center transparent;
}

.icon-info {
    margin-left: -26px;
    padding-left: 40px;
    line-height: 30px;
    background: url(images/icon-info.png) no-repeat left center transparent;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    color: #009EE3;
    text-transform: uppercase;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #009EE3;
    font-weight: bold;
    text-transform: uppercase;
    margin: 30px 15px 20px 0;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 20px 0;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 5px 0 20px 0;
    color: #666;
}

    a {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #009EE3;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }

hr {
    margin: 20px;
    border: 0;
    border-top: 1px solid #eee;
}